<!-- DASHBOARD OF A USER  
Shown after user signs up-->

<!-- link to logout, goes to logout_path and  method delete specfies the delete method in sessions_controller -->

<!-- display logout path only if user is logged in 
otherwise you want to display login -->
<% if logged_in? %>
<% puts "User is logged in!" %>
  
  <h2><%= @user.fname %> <%= @user.lname %>'s Items </h2>

	<%= link_to '<button type="button">Logout</button>'.html_safe, logout_path, method: :delete %>

  <ul>
    <% @user.items.reverse.each do |item| %>
    
      <p>
      <strong>Item Name:</strong>
      <%= link_to item.name, item_path(item.id) %>
      <br>
      <strong>Description:</strong>
      <%= item.description %>
      <br>
      <strong>Posted at:</strong> 
      <%= item.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
      <br>
      </p>
      — — — — — — — — — — — — — — — — — — — — — — — — — — — -
      <br><br>
    <% end %>
  </ul>

<% else %>
  <% puts "HELLO HERE" %>
	<!-- user is not logged in -->
	<%= link_to '<button type="button">Log In</button>'.html_safe, login_path %>
	<%= link_to '<button type="button">SignUp</button>'.html_safe, signup_path%>

<% end %>
