<!-- DASHBOARD OF A USER  
Shown after user log in or Sign up-->



<!-- params[:id] comes back as a string and current_user.id comes back as a fixnum. -->
<!-- preventing user to go to other users profile by comparing the current_user.id & id from params hash (id of the typed url ..../users/45) -->
<% if (current_user.id.to_s == params[:id].to_s) %>
  
  
  <h2><%= @user.fname %> <%= @user.lname %>'s Items </h2>
  <%= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>

<!-- User Profile Editing -->
  <%= link_to 'Edit Profile', edit_user_registration_path%>
  
<!-- ----------------------------------------------------------------------------------- -->
  <ul>
    <% @user.items.reverse.each do |item| %>
    
      <p>
      <strong>Item Name:</strong>
      <%= link_to item.name, item_path(item.id) %>
      <br>
      <strong>Description:</strong>
      <%= item.description %>
      <br>
      <strong>Posted at:</strong> 
      <%= item.created_at.strftime("%d-%m-%Y %H:%M:%S") %>
      <br>
      </p>
      <% if item.image.attached? %>
        <div style="width:200px; height:auto">
          <%= image_tag(item.image, style: 'width:100%') %>
        </div>
      <% end %>
      — — — — — — — — — — — — — — — — — — — — — — — — — — — -
      <br><br>
    <% end %>
  </ul>


<!-- user was blocked to access other person's profile -->
<% else %>
    
    <% flash.now[:alert] = "Don't have permission for the action" %>

    <!-- link to go back to items page -->
    <%= link_to "Go Back", items_path%>


<% end %>
