<%= render :partial => 'layouts/navbar' %>
<h2>Borrow Requests</h2>

<h4>Requests Received (Incoming)</h4>

<table>
  <tbody>
    <% @user.items.each do |item| %>
      <tr>
        <% item.requesting_users.each do |requester| %>
          <td><%= render :partial => 'items/item', locals: {item: item} %></td>
          <td><strong><%= requester.fname %> <%= requester.lname %> is requesting to borrow this item</strong><br></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Requests Sent (Outgoing)</h4>

<% @user.requests.each do |request| %>
  <%= render :partial => 'items/item', locals: {item: request.item} %>
<% end %>

