<h4><%= link_to item.name, item_path(item.id) %></h4>  
<p>
  <strong>Description:</strong>
  <%= item.description %>
  <br>
</p>
<p>
  Posted by 
  <%= link_to item.user.fname, user_path(item.user_id) %>
  <%= time_ago_in_words(item.created_at) %>
  ago
  <br>
</p>
    
<% if item.image.attached? %>
  <div style="width:200px; height:auto">
    <%= image_tag(item.image, style: 'width:100%') %>
  </div>
<% end %>
<% if @user.id === item.user_id%>
  <%= link_to "Delete item", item, method: :delete, data: { confirm: "Are you sure?" } %>
<% elsif item.requesting_users.include? @user %>
  <%= link_to "Request Sent. Click here to Cancel", Request.find_by(user_id: @user.id, item_id: item.id), method: :delete, data: { confirm: "Are you sure?" }  %>
<% else %>
  <%= link_to 'Request Item', requests_path(:id => item.id), method: 'POST' %>
<% end %>
<br>
— — — — — — — — — — — — — — — — — — — — — — — — — — — -