<h1>BorrowLand</h1>

<h3>Logged in as <%= @user.fname %> <%= @user.lname %></h3>

<%= link_to "Browse Items", items_path %>
<%= link_to "Post an Item", new_item_path %>
<%= link_to "View my Items", user_path(@user.id) %>
<%= link_to "Borrow Requests", requests_path %>

<br>
<br>

<%= link_to '<button type="button">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>